body {
    font-family: Arial, sans-serif;
            
    color: white;
    background-image: url('ligo.jpg'); /*background image for entire page */
    background-size: cover;
    background-position: center;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: brown;  /* Serves as background color for the quiz itself; looks more reddish than brown, but that's fine. */
}

h1 {
    margin-bottom: 20px;
}

